<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ninwoo.dao.UserMapper">
    <select id="count" resultType="Integer">
        select count(1) from user;
    </select>
</mapper>